{% extends "main.html" %}
{% block extrahead %}
<script>
// Remove the first part after / and keep the rest + add an errorRef to avoid redirect chain
// So /V2020/inst/ will become /inst/?errorRef=/V2020/inst/
const __locationSearch = new URLSearchParams(window.location.search);
const __errorRef = __locationSearch.get("errorRef");
if (!__errorRef) {
  const __nextRef = encodeURIComponent(window.location.pathname);
  const __nextSearch = window.location.search ? window.location.search + `&errorRef=${__nextRef}` : `?errorRef=${__nextRef}`;
  const __newPath = window.location.pathname.split("/").slice(2).join("/");
  window.location.replace([
    window.location.origin, 
    "/",
    __newPath, 
    __nextSearch, 
    window.location.hash
  ].join(""));
}
</script>
{% endblock %}
{% block content %}
  <h1>404 - Not found</h1>
  <script>
  // Add information about the invalid redirect, so that the user is aware there was an URL change
  document.addEventListener("DOMContentLoaded", () => {
    if (!__errorRef) {
      return;
    }
    const node = document.createTextNode(`Redirected from another 404 page: ${__errorRef}`);
    const article = document.querySelector(".md-content__inner");
    article.appendChild(node);
  });
  </script>
{% endblock %}