/* Custom font */
@font-face {
    font-family: "EtelkaLight";
    font-display: swap;
    src: url("https://npe.cm/assets/fonts/EtelkaLight.otf");
}

:root {
    --md-text-font: "EtelkaLight"; 
}

.md-header {
    background-color: #c0c0c0;
}

/* Small blog post excerpts */
.md-post--excerpt { 
    margin-bottom: 0rem;
}

/* Contact form settings */
#extFormWrapper {
    width: 100%;
}

@media screen and (max-width: 45em) {
    #extFormWrapper form {
        width: 100%;
    }
}

@media screen and (min-width: 45em) {
    #extFormWrapper form {
        width: 50%;
    }
}

#extFormWrapper form > .md-input {
    display: block;
    margin: 0 0 0.5rem 0;
    width: 100%;
    background: inherit;
}

#extFormWrapper form > .md-input:focus-visible {
    outline: .1rem solid var(--md-accent-fg-color);
    border: unset;
}

#extFormWrapper form > .md-input:valid {
    outline: 1px solid #00dfc8;
    border: unset;
}

#extFormWrapper form > textarea {
    border-top: unset;
    border-right: unset;
    border-left: unset;
    color: var(--md-typeset-color);
    font-family: var(--md-text-font-family);
    font-feature-settings: "kern", "liga";
    height: 5rem;
    padding-top: 0.6em;
}

#extFormWrapper form > textarea:focus-visible {
    outline: 0;
}

#extFormWrapper form > button {
    margin-top: 1rem;
    width: 100%;
}

/* Contact form success settings */
.twemoji.extLargeSVG {
    width: 100%;
    height: 7rem;
}

.twemoji.extLargeSVG svg {
    height: 7rem;
    width: 7rem;
    margin: 0 auto;
    max-height: unset;
}