# Recording test results

Each SAP system is subject to upgrades. With each update, you may want to confirm that the applications enabled in the SAP Fiori launchpad are working properly. Fiori Tracker has functions available for:

- recording the test results with date, timestamp, and name of a person responsible
- determination of the person responsible for a test type

Fiori Tracker keeps Sign-off's from past tests with the application's records. You can quickly access information about who and when has tested the app in the past. Past test records will help you troubleshoot an application.